* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font: Arial, Helvetica, sans-serif;
    background: #fff;
    color: black;
}

/* 

'./dist', no webpackge


contentBase: path.resolve(__dirname, 'public'),
*/